<h2 class="mb-4 fw-bold text-warning">📋 Your Notes</h2>
<%   %>
<table class="table table-hover shadow-sm">
  <thead>
    <tr>
      <th>No:</th>
      <th>Title</th>
      <th>Status</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach((item, i)=>{     %>
      <tr>
        <td><%= i + 1  %></td>
        <td><%= item.title %></td>
        <td>
          <span class="badge <%=  %>">
            <%=  %>
          </span>
        </td>
        <td class="text-end">
          <a href="/notes/<%= item._id  %>/view" class="btn btn-info btn-sm me-1">View</a>
          <form action="/notes/<%= item._id %>/delete" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% %>
  <h3>There is no notes created yet. Please create one!</h3>
<% %>

<a href="/notes/create" class="btn btn-info btn-sm me-1">Create new Note</a>